{{ $context := . }}
{{ $plugin := index (index .Site.Data (.Get "data")) "plugin" }}
{{ $goalName := .Get "goal" }}
{{ $goal := index (first 1 (where $plugin.mojos.mojo "goal" $goalName)) 0 }}
{{ with $goal }}
<h2>{{ $plugin.goalPrefix }}:{{ $goal.goal }}</h2>

<dl class="row">
  <dt class="col-sm-2">Full name</dt>
  <dd class="col-sm-9 monospace">{{ $plugin.name }}:{{ $plugin.version }}:{{ $goal.goal }}</dd>

  <dt class="col-sm-2">Description</dt>
  <dd class="col-sm-9">{{ safeHTML $goal.description }}</dd>

  <dt class="col-sm-2">Since</dt>
  <dd class="col-sm-9 monospace">{{ $goal.since }}</dd>

  <dt class="col-sm-2">Phase</dt>
  <dd class="col-sm-9 monospace">{{ $goal.phase }}</dd>

  <dt class="col-sm-2">Requires Project</dt>
  <dd class="col-sm-9 monospace">{{ $goal.requiresProject }}</dd>

  <dt class="col-sm-2">Requires Online</dt>
  <dd class="col-sm-9 monospace">{{ $goal.requiresOnline }}</dd>

  <dt class="col-sm-2">Requires Direct Invocation</dt>
  <dd class="col-sm-9 monospace">{{ $goal.requiresDirectInvocation }}</dd>

  <dt class="col-sm-2">Thread-safe</dt>
  <dd class="col-sm-9 monospace">{{ $goal.threadSafe }}</dd>
</dl>

<h3>Parameters</h3>

{{ $parameters := where .parameters.parameter "editable" true }}
<table class="table table-striped">
  <caption>{{ len $parameters }} parameters</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Since</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{ range $parameters }}
    <tr>
      <td><a href="#{{ .name }}">{{ .name }}</a></td>
      <td class="monospace">{{ .type }}</td>
      <td class="monospace">{{ .since }}</td>
      <td>{{ safeHTML .description }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

<h3>Parameter Details</h3>
{{ range $parameters }}
{{ $configuration := index (index $goal.configuration .name) }}
<div>
  <h4><a name="{{ .name }}">{{ .name }}</a></h4>
  <p>{{ safeHTML .description }}</p>
  <dl class="row">
    <dt class="col-sm-2">Type</dt>
    <dd class="col-sm-9 monospace">{{ .type }}</dd>

    <dt class="col-sm-2">Since</dt>
    <dd class="col-sm-9 monospace">{{ .since }}</dd>

    <dt class="col-sm-2">Required</dt>
    <dd class="col-sm-9 monospace">{{ .required }}</dd>

    <dt class="col-sm-2">Default Value</dt>
    <dd class="col-sm-9 monospace">{{ index $configuration "default-value" }}</dd>

    <dt class="col-sm-2">User Property</dt>
    <dd class="col-sm-9 monospace">{{ index $configuration "content" }}</dd>
  </dl>
  <hr/>
</div>
{{ end }}

{{ end }}